<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="file"
        accept=".png, .jpg, .jpeg, .gif"
        required
      />
      <input type="submit" value="Upload" />
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <h1>Top 10 Colors in the Image</h1>
    <img src="./static/uploads/flowers.jpeg" alt="Uploaded Image" />
    <ul>
      {% for item in result %}
      <li>
        <div class="color-box" id="colorBox_{{ loop.index }}"></div>
        <div class="color-info">
          <p>RGB: {{ item.color }}</p>
          <p>Percentage: {{ item.percentage }}%</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
