<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="file"
        accept=".png, .jpg, .jpeg, .gif"
        required
      />
      <input type="submit" value="Upload" />
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %} {% if image_path %}
    <img
      src="{{ url_for('static', filename='uploads/' ~ image_path.split('/')[-1]) }}"
      alt="Uploaded Image"
    />
    <ul>
      {% for item in result %}
      <li>
        <div
          class="color-box"
          style="background-color: {{ item.color }};"
        ></div>
        <p>{{ item.color }}</p>
        <p class="percentage">{{ item.percentage }}%</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
